<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Not Found</title>
<link href="/static/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<div class="hero">
			<div class="message">
				<h1>{{message}}</h1>
			</div>
		</div>

		<div class="details">
			<p class="callout">
                <h1>Sorry, the page doesn't exist</h1>
                <p> Breathe in and on the breathe out, go back and try again.
            </p>
		</div>
	</div>
</body>
</html>
