<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tickets</title>
<link href="/static/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<div class="hero">
			<div class="message">
				<h1>{{message}}</h1>
			</div>
		</div>

		<div class="details">
			<p class="callout">
                <h1>{{data}}</h1>
            </p>
		</div>
	</div>
</body>
</html>
